/* Footer */
#footer {
  text-shadow: 0.55rem 0.55rem #FFFFFF;

  .form__footer,
  .cgv__footer,
  .cgu__footer {
    text-shadow: 0.55rem 0.55rem #15FFF5;
  }

  .cgu__footer,
  .cgv__footer {
    margin: 0.5rem;
  }

  .form__footer {
    margin: 1rem;
  }

  .cgv__footer {
    .button {
        margin: 1rem;
        padding: 1rem;
        font-size: 1.5rem;
      }
  }
}

/*
J'ai :
 . regroupé les propriétés communes de manière à éviter de devoir penser à les changer de partout.
 . utilisé du scss au lieu du css

J'aurais eu tandance à renommer les class de la sorte suivante : 
"cgv__footer" en footer__cgv, "cgu__footer" en footer__cgu, de manière a pouvoir 
imbriquer d'avantage et donc etre plus précise : 

.footer {

  &__cgv,
  &__cgu {}
}

*/


